# npm
./app.js
.vscode
node_modules
package-lock.json
npm-shrinkwrap.json
*.log
*.gz

# Coveralls
.nyc_output
coverage

# Benchmarking
benchmarks/graphs

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Environment variables file
.env

# IDE or Editor directories
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db
